<extend parent="layouts/default_layout.html"></extend>

<render-section name="css">
    <link rel="stylesheet" href="assets/css/elements/select.css">
    <link rel="stylesheet" href="assets/css/action-mission.css">
</render-section>

<render-section name="js">
    <script src="assets/js/core/elements/select.js"></script>
    <script src="assets/js/action-missions.js"></script>
</render-section>

<render-section name="content">
    <div id="action-mission">
        <div class="title-container">
            <h1 id="action-mission-title">Add a mission</h1>
        </div>

        <div class="container">
            <div>
                <input type="text" id="title-mission" name="title" placeholder="Write the title of the mission"
                       class="title">
            </div>

            <section class="information-mission">
                <div class="title">
                    <h2>Informations</h2>
                </div>
                <div class="container information-container">
                    <div class="information-legend">
                        <label for="date-mission">Starting date<sup>*</sup></label>
                        <input type="text" id="date-mission" placeholder="dd/mm/yyyy">
                    </div>
                    <div class="information-legend">
                        <label for="duration-mission">Duration<sup>*</sup></label>
                        <input type="text" id="duration-mission" placeholder="Write in days">
                    </div>
                    <div class="information-legend">
                        <label for="nb_people-mission">Number of people required<sup>*</sup></label>
                        <input type="number" id="nb_people-mission" placeholder="Write a number">
                    </div>
                </div>

            </section>
            <section class="skill-mission">
                <div class="title">
                    <h2>Skills</h2>
                </div>
                <div class="container">
                    <sup-select id="select-skills"></sup-select>
                    <div class="skills" id="list-skills"></div>
                </div>
            </section>
            <section class="people-mission">
                <div class="title">
                    <h2>Based on selected skills and availability</h2>
                </div>
                <div class="container">
                    <p id="message-people" style="color: red; display: none; padding: 0 5px; margin: 0; font-style: italic; font-size: 0.75em;"></p>
                    <div class="select">
                        <sup-select id="select-people"></sup-select>
                        <button id="add-people" onclick="addPerson()">
                            Add
                        </button>
                    </div>
                    <div class="people" id="list-people"></div>
                </div>
            </section>
            <section class="buttons">
                <button id="cancel" onclick="cancel()">Cancel</button>
                <button id="valid" onclick="valid()">Save</button>
            </section>
        </div>
    </div>
</render-section>