<extend parent="layouts/default_layout.html"></extend>

<link rel="stylesheet" href="assets/css/home.css">

<render-section name="js">
        <script src="assets/js/home.js"></script>
</render-section>


<render-section name="content">
        <div class="title-container">
                <h1>Welcome
                        <br> <span class="purple">back</span>
                </h1>
        </div>
        <div class="content-container">
                <div class="colonne">
                <div id="addmission">
                        <img src="assets/images/addmission.svg" alt="add mission" class="imagehome">
                        <button class="button">
                                Add a mission
                        </button>
                </div>
                        <div id="calendar">

                        </div>
                </div>
                <div class="colonne">
                        <div id="planning">
                                <img src="assets/images/viewplanning.svg" alt="add mission" class="imagehome">
                                <button class="button">
                                        View planning
                                </button>
                        </div>
                        <div id="people">
                                <button class="button">
                                        View list of people
                                </button>
                        </div>

                </div>
                <div class="colonne">
                        <div id="list-skills">
                        <div id="table">
                                <table>
                                        <thead>
                                        <tr>
                                                <th class="category"></th>
                                        </tr>
                                        </thead>
                                        <tbody id="table-skills">
                                        </tbody>
                                </table>
                        </div>
                                <button class="button">
                                        View list of skills
                                </button>
                </div>


                </div>

        </div>

</render-section>