<extend parent="layouts/default_layout.html"></extend>

<render-section name="css">
  <link rel="stylesheet" href="assets/css/people.css">
</render-section>

<render-section name="js">
  <script src="assets/js/people.js"></script>
</render-section>

  <render-section name="content">
    <div class="container-personnel-management">
      <h1>People management</h1>
      <select class="select-skills" id="selectskills">
        <option selected id="text-filter-skills">Filter by skills </option>
        <optgroup label="Strategy" class="label"></optgroup>
        <optgroup label="Development"></optgroup>
        <option value="B.1.">Design and Development</option>
      </select>

      <select class="select-skills" id="selectnom">
        <option selected id="text-filter-skills">Filter by name </option>
      </select>

    </div>

    <div class="container-personnel" id="container-personnel">

    </div>
  </render-section>
