<extend parent="layouts/default_layout.html"></extend>

<render-section name="css">
    <link rel="stylesheet" href="assets/css/people.css">
</render-section>

<render-section name="js">
    <script src="assets/js/people.js"></script>
</render-section>

<render-section name="content">
    <div id="people">
        <div class="container-personnel-management">
            <h1>People management</h1>
            <div id="filters">
                <div class="filter-control">
                    <input type="text" placeholder="Search by name" id="filter-label" class="filter">
                </div>
                <button onclick="showModalAdd()">Add Person</button>
            </div>
        </div>

        <div class="container-personnel">
            <div id="container-personnel"></div>
            <div id="pages">
                <div class="button-page" id="first-page-button">&#171;&#171;</div>
                <div class="button-page" id="previous-page-button">&#171;</div>
                <div><span id="current-page">1</span> / <span id="max-page">n</span></div>
                <div class="button-page" id="next-page-button">&#187;</div>
                <div class="button-page" id="last-page-button">&#187;&#187;</div>
            </div>
        </div>

        <!-- MODALE -->
        <div class="modal_container" id="modal-container">
            <div class="modal">
                <div class="titleclose">
                    <div class="info-card">
                        <img src="" alt="People Picture" class="profile-picture-modale" id="modal-picture">
                        <div class="info-general">
                            <p class="name-modal" id="modal-general-name"></p>
                            <p class="job-modal" id="modal-general-job"></p>
                        </div>
                        <button class="close" onclick="closeModal()">&#10006;</button>
                        <button class="save" id="save-button" onclick="save()">&#128190;</button>
                        <button class="save" id="create-button" onclick="create()">&#10010;</button>
                    </div>

                    <div class="personnal-info-modal">
                        <h1 class="titre-info-modal">Informations</h1>
                        <div class="information-container">
                            <div class="titre-information">
                                <p class="titre">ID</p>
                                <p class="titre">Firstname</p>
                                <p class="titre">Lastname</p>
                                <p class="titre">Job</p>
                                <p class="titre">Entry date</p>
                            </div>
                            <div class="titre-information">
                                <input type="text" id="modal-id" class="data-information-readonly" readonly>
                                <input type="text" id="modal-lastname" class="data-information">
                                <input type="text" id="modal-firstname" class="data-information">
                                <input type="text" id="modal-job" class="data-information">
                                <input type="text" id="modal-entry-date" class="data-information-readonly" readonly>
                                <input type="hidden" id="modal-mode" value="edit">
                            </div>
                        </div>
                    </div>

                    <div class="skill-info-modal">
                        <h1 class="titre-info-modal">Skills</h1>
                        <div id="skills-modal" class="skill-people-modal"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</render-section>
