<extend parent="layouts/default_layout.html"></extend>

<render-section name="css">
    <link rel="stylesheet" href="assets/css/elements/select.css">
    <link rel="stylesheet" href="assets/css/skills.css">
</render-section>

<render-section name="js">
    <script src="assets/js/skills.js"></script>
</render-section>

<render-section name="content">
    <div id="skills">
        <header>
            <h1>Skills management</h1>
        </header>
        <div id="filters">
            <div class="select">
                <div class="select-selected" id="filter-category">Filter by category</div>
                <div class="select-items select-hide" id="filter-category-list">
                    <div class="select-item" data-value="all">All</div>
                </div>
            </div>
            <div class="filter-control">
                <input type="text" placeholder="Filter by label" id="filter-label" class="filter">
            </div>
        </div>
        <div id="table">
            <table>
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Category</th>
                    <th>Label</th>
                </tr>
                </thead>
                <tbody id="table-skills">

                </tbody>
            </table>
            <div id="pages">
                <div class="button-page" id="first-page-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path fill-rule="evenodd"
                              d="M10.72 11.47a.75.75 0 0 0 0 1.06l7.5 7.5a.75.75 0 1 0 1.06-1.06L12.31 12l6.97-6.97a.75.75 0 0 0-1.06-1.06l-7.5 7.5Z"
                              clip-rule="evenodd"/>
                        <path fill-rule="evenodd"
                              d="M4.72 11.47a.75.75 0 0 0 0 1.06l7.5 7.5a.75.75 0 1 0 1.06-1.06L6.31 12l6.97-6.97a.75.75 0 0 0-1.06-1.06l-7.5 7.5Z"
                              clip-rule="evenodd"/>
                    </svg>
                </div>
                <div class="button-page" id="previous-page-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path fill-rule="evenodd"
                              d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z"
                              clip-rule="evenodd"/>
                    </svg>
                </div>
                <div><span id="current-page">1</span> / <span id="max-page">n</span></div>
                <div class="button-page" id="next-page-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path fill-rule="evenodd"
                              d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z"
                              clip-rule="evenodd"/>
                    </svg>
                </div>
                <div class="button-page" id="last-page-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path fill-rule="evenodd"
                              d="M13.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L11.69 12 4.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z"
                              clip-rule="evenodd"/>
                        <path fill-rule="evenodd"
                              d="M19.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06L17.69 12l-6.97-6.97a.75.75 0 0 1 1.06-1.06l7.5 7.5Z"
                              clip-rule="evenodd"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</render-section>