<extend parent="layouts/default_layout.html"></extend>

<render-section name="css">
    <link rel="stylesheet" href="assets/css/elements/select.css">
    <link rel="stylesheet" href="assets/css/statistics.css">
</render-section>

<render-section name="js">
    <script src="assets/js/statistics.js"></script>
    <script src="assets/js/core/elements/select.js"></script>
</render-section>

<render-section name="content">
    <div id="statistics">
        <div class="title-container">
            <div>
            <h1>Skills-based statistics </h1>
        </div>
</render-section>