<extend parent="layouts/default_layout.html"></extend>

<render-section name="css">
    <link rel="stylesheet" href="assets/css/elements/select.css">
    <link rel="stylesheet" href="assets/css/statistics-time.css">
</render-section>

<render-section name="js">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="assets/js/statistics-time.js"></script>
    <script src="assets/js/statistics.js"></script>
    <script src="assets/js/core/elements/select.js"></script>
</render-section>

<render-section name="content">
    <div id="container">
        <div class="statistics">
            <div class="title-container">
                <div>
                    <h1>Statistics</h1>
                </div>
                <div class="btn-container">
                    <button class="btn-passif" onclick="viewStatisticsOverall()">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                            <path fill-rule="evenodd"
                                  d="M2.25 13.5a8.25 8.25 0 0 1 8.25-8.25.75.75 0 0 1 .75.75v6.75H18a.75.75 0 0 1 .75.75 8.25 8.25 0 0 1-16.5 0Z"
                                  clip-rule="evenodd"/>
                            <path fill-rule="evenodd"
                                  d="M12.75 3a.75.75 0 0 1 .75-.75 8.25 8.25 0 0 1 8.25 8.25.75.75 0 0 1-.75.75h-7.5a.75.75 0 0 1-.75-.75V3Z"
                                  clip-rule="evenodd"/>
                        </svg>
                        <span>Overall</span>
                    </button>
                    <button class="btn-passif" onclick="viewStatisticsSkills()">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                            <path d="M2.273 5.625A4.483 4.483 0 0 1 5.25 4.5h13.5c1.141 0 2.183.425 2.977 1.125A3 3 0 0 0 18.75 3H5.25a3 3 0 0 0-2.977 2.625ZM2.273 8.625A4.483 4.483 0 0 1 5.25 7.5h13.5c1.141 0 2.183.425 2.977 1.125A3 3 0 0 0 18.75 6H5.25a3 3 0 0 0-2.977 2.625ZM5.25 9a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h13.5a3 3 0 0 0 3-3v-6a3 3 0 0 0-3-3H15a.75.75 0 0 0-.75.75 2.25 2.25 0 0 1-4.5 0A.75.75 0 0 0 9 9H5.25Z"/>
                        </svg>
                        <span>Skills</span>
                    </button>
                    <button class="btn-active" onclick="viewStatisticsTime()">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                            <path d="M12.75 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM7.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM8.25 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM9.75 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM10.5 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM12.75 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM14.25 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 13.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"/>
                            <path fill-rule="evenodd"
                                  d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Z"
                                  clip-rule="evenodd"/>
                        </svg>
                        <span>Time</span>
                    </button>
                </div>
            </div>
        </div>


        <div class="container">
            <div>
                <h2> Skills over time statistics </h2>
                <p>An overview of statistics on skills over time.</p>
                <div id="filters">
                    <sup-select id="select-skills"></sup-select>
                </div>
            </div>
            <div class="graph-container">
                <div class="number-per-month-container">
                    <div>
                        <h3>Number of missions per month with selected skills</h3>
                        <div>
                            <canvas id="lineChartSkills"></canvas>
                        </div>
                    </div>
                </div>

                <div class="availability-over-time-container">
                    <div>
                        <h3>Skill availability over time</h3>
                    </div>
                    <div>
                        <div>
                            <canvas id="myChartTime"></canvas>
                        </div>
                        <script>
                            const ctx = document.getElementById('myChartTime');

                            new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: ['J', 'F', 'M', 'A', 'M', 'J', 'J', 'A', 'S', 'O', 'N', 'D'],
                                    datasets: [
                                        {
                                            label: 'Busy',
                                            data: [8, 10, 5, 8, 5, 4, 10, 7, 9, 2, 5, 4],
                                            borderWidth: 1,
                                            backgroundColor: '#C79CFF',
                                            borderColor: '#9747FF',
                                            borderRadius: 4
                                        },
                                        {
                                            label: 'Available',
                                            data: [10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10],
                                            borderWidth: 1,
                                            backgroundColor: '#E0F8FB',
                                            borderColor: '#6EDBE8',
                                            borderRadius: 4

                                        }

                                    ]
                                },
                                options: {
                                    responsive: true,
                                    maintainAspectRatio: false,
                                    scales: {
                                        x: {
                                            stacked: true,
                                            ticks: {
                                                font: {
                                                    family: 'Arial'
                                                }
                                            },
                                            grid: {
                                                drawOnChartArea: false
                                            }
                                        },
                                        y: {
                                            stacked: true,
                                            beginAtZero: true,
                                            max: 10,
                                            ticks: {
                                                stepSize: 1,
                                                font: {
                                                    family: 'Arial'
                                                }
                                            }
                                        }
                                    },
                                    plugins: {
                                        legend: {
                                            position: 'bottom',
                                        }
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</render-section>