#people {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 60px);
}

#people > .container-personnel-management {
    width: 90%;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    text-align: justify;
    align-items: flex-start;
    border-radius: 18px;
    height: auto;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.26);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#people > .container-personnel-management > h1 {
    font-size: 30px;
    line-height: 50px;
    color: #313132;
    padding-left: 20px;
    font-family: Kumbh Sans, serif;
}

#people > .container-personnel {
    width: 90%;
    padding: 20px;
    margin: 20px auto;
    text-align: justify;
    align-items: flex-start;
    border-radius: 18px;
    height: auto;
    background: rgba(255, 255, 255, 0.26);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: scroll;
    position: relative;
}

#people > .container-personnel > div:first-child {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#people > .container-personnel > div:first-child > .people-card {
    width: 265px;
    height: 175px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.80);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    flex-direction: column;
    margin-top: 10px;
    margin-right: 0;
    padding-right: 0;
    position: relative;
}

#people > .container-personnel > div:first-child > #load-more {
    display: none;
}

.info-card {
    display: flex;
    flex-direction : row;
    align-items: center;
    gap: 20px;
}

#people > .container-personnel > div:first-child > .people-card > .info-card > .profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#people > .container-personnel > div:first-child > .people-card > .info-card > .info {
    flex-grow: 1;
    margin-left: 5px;
    margin-bottom: 15px;
}

#people > .container-personnel > div:last-child {
    width: 100%;
    display: flex;
    justify-content: center;
}

#people > .container-personnel > div:first-child > .people-card > .info-card > .info > .name {
    font-size: 18px;
    font-weight: bold;
    color: #313132;
    padding: 0;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 0;
}

#people > .container-personnel > div:first-child > .people-card > .info-card > .info > .job {
    font-size: 14px;
    color: #929294;
    margin: 0 0 15px;
    padding: 0;
    overflow: hidden;
}

#people > .container-personnel > div:first-child > .people-card > .info-card > div > .pen {
    fill: #313132;
    width: 30px;
    height: auto;
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

#people > .container-personnel > div:first-child > .people-card > .info-card > div > .pen:hover {
    background-color: #F2F0FD;
    border-radius: 5px;
}

.select-skills {
    appearance: none;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    border: 1px solid #131AC3;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #8B8B8B;
    background: rgba(255, 255, 255, 0.80) url("assets/images/arrow.svg") no-repeat right 10px center;
    background-size: 10px;
}

#people > .container-personnel > div:first-child > .people-card > .skill-people {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    font-family: Kumbh Sans, serif;
}

.skill-icon {
    width: 15px;
    height: auto;
    margin-right: 10px;
}

.disponibility {
    font-size: 14px;
    color: #58A68A;
    background-color: #E7FDF6;
    font-weight: 700;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    width: fit-content;
}

.info-general {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    padding: 0;
    gap: 0;
}

#people > .container-personnel > div:first-child > .people-card > .skill-people > .skill-text {
    font-size: 9px;
    color: black;
    background-color: #F3E8FD;
    border-radius: 20px;
    margin: 0;
    width: auto;
    padding: 0 10px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    gap: 5px;
}

#people > .container-personnel > div:first-child > .people-card > .skill-people > .skill-text:hover {
    font-weight: 700;
}

#people > .container-personnel > div:first-child > .people-card > .skill-people > .skill-text > svg {
    width: 15px;
    height: auto;
}

#people > .container-personnel > div:first-child > .people-card > .skill-people > .skill-text.other {
    background-color: #F3F3F3;
}

#people > .container-personnel > div:first-child > .people-card > .skill-people > .skill-text.other > svg {
    fill: #7B7575;
}

.modal {
    padding: 20px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 550px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
}

.titleclose {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.close {
    border: none;
    fill: #7B69ED;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #F2F0FD;
}

.close:hover,
.save:hover,
.cancel:hover {
    background-color: #7B69ED;
}

.save {
    border: none;
    fill: #7B69ED;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 60px;
    background-color: #F2F0FD;
}

.cancel {
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 100px;
    background-color: #F2F0FD;
}

.profile-picture-modale {
    width: 110px;
    height: 110px;
    border-radius: 25%;
    object-fit: cover;
    margin: 20px;
    margin-right: 0px;
}

.icon {
    width: 15px;
    height: auto;
    fill: #7B69ED;
}

.icon:hover {
    fill: white;
}

.name-modal {
    color: #313132;
    font-weight: 700;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 0;
    margin: 0;
}

.job-modal {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-weight: 700;
    color: #C5C5C6;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
}


.modal_container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    transition: opacity 0.3s ease;
    opacity: 0;

}

.modal_container.show {
    opacity: 1;
    pointer-events: auto;
}


.titre-info-modal {
    justify-content: right;
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-left: 25px;
    width: 100%;
    color: #7B69ED;

}

.personnal-info-modal {
    width: 100%;
}

.skill-info-modal {
    width: 100%;
}

.information-container {
    display: flex;
    margin: 0;
    margin-left: 25px;
    gap: 0;
    padding: 0;

}

.titre-information {
    flex: 1;
}

.titre {
    color: #313132;
    font-weight: 600;
    padding: 5px;
}

.data-information-readonly,
.data-information {
    color: #313132;
    font-weight: 300;
    border: none;
    margin-top: 14px;
    outline: none;
    padding: 5px;
}

.data-information:hover {
    background-color: #F2F0FD;
    padding: 5px;
    font-weight: 300;
    border: none;
}

#load-more{
    border : none;
    color : #7B69ED;
    background-color : white;
    padding-top : 7px;
    padding-bottom : 7px;
    padding-left : 25px;
    padding-right : 25px;
    border-radius : 20px;
}
#load-more:hover{
    background-color : #B7AEF1;
}

#load-more:active{
    background-color : #7B69ED;
    color : white;
}

.skill-people-modal {
    margin-left: 20px;
    margin-top : 15px;
    margin-bottom : 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    font-family: Kumbh Sans, serif;
}

.skill-text-modal {
    font-size: 13px;
    color: black;
    background-color: #F3E8FD;
    border-radius: 20px;
    margin: 0;
    width: auto;
    padding: 0 10px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    gap: 5px;
}

.skill-text-modal svg {
    width: 15px;
    height: auto;
}
