#skills {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

#skills > header {
}

h1 {
    font-size: 30px;
    line-height: 50px;
    color: #313132;
    padding-left : 20px;
    font-family: Kumbh Sans, serif;
}

#filters {
    display: flex;
    flex-direction: row !important;
    width : 100%;
    gap : 10px;
    align-items : center;
}

#skills > #filters > .filter {
    padding: 10px;
    outline: none;
    background-color: white;
    border: 1px solid #8B8B8B;
    border-radius: 10px;
    color: #8B8B8B;
}

#skills > #filters > .filter-control {
    outline: none;
    background-color: white;
    color: #8B8B8B;
    overflow: hidden;
    width: clamp(200px, 50%, 300px);
}

#skills > #filters > .filter-control > .filter {
    width: 100%;
    border: none;
    background-color: white;
    outline: none;
    color: #8B8B8B;
    padding: 10px;
}

#skills > #filters > .filter-control > select.filter {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
}

#skills > #filters > .filter-control > select.filter:after {
    content: "▼";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    font-size: 15px;
}

#skills > #table {
    display: flex;
    justify-content: space-between;
    height: 70%;
    width : 90%;
    padding:20px;
    align-items: flex-start;
    margin: 10px auto 20px;
    border-radius: 18px;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.80);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#skills > #table > table {
    width: 100%;
    border-collapse: collapse;
    table-layout : fixed;
}

#skills > #table > table > thead > tr > th {
    padding: 10px;
    text-align: left;
    color: #070EC2;
    font-size: 1.2em;
}

#skills > #table > table > thead > tr > th:first-child {
    width: 3em;
}


#skills > #table > table > tbody#table-skills {
    overflow: scroll;
}

#skills > #table > table > tbody > tr {
    color: #313132;
}

#skills > #table > table > tbody > tr > td {
    padding: 5px;
}

#skills > #table > table > tbody > tr > td:first-child {
    text-align: center;
}

#skills > #table > table > tbody > tr > td:last-child > div {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 3px 10px;
    border-radius: 7px;
}

#skills > #table > table > tbody > tr > td:last-child > div > svg {
    width: 1.1em;
    height: auto;
}

#skills > #table > table > tbody > tr:last-child {
    border-bottom: none;
}

#skills > #table > #pages {
    display: flex;
    flex-direction: row;
    justify-content : center;
    align-items : center;
    gap: 10px;
    padding: 5px;
    width:100%;
    margin-top : 10px;
    margin-bottom : 0;
}

#skills > #table > #pages > div > svg {
    width: 1.1em;
    height: auto;
    display: flex;
    justify-content : center;
    align-items : center;
}

#skills > #table > #pages > .button-page:hover {
    scale: 1.1;
    cursor: pointer;
    color : #070EC2;
}

#skills > #table > #pages > .button-page:active {
    scale: 1.1;
    cursor: pointer;
}

#filter-contener{
    width : 90%;
    padding:20px;
    margin: 20px auto 0;
    display: flex;
    align-items: flex-start;
    border-radius: 18px;
    height: auto;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.26);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.filter {
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius : 10px;
    margin-left : 20px;
    box-shadow: 0 2px 9px 0 rgba(7, 14, 194, 0.2);
    outline: none;
}


.category {
    width:130px;
}


