#skills {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
}

#skills > header {
}

#skills > header > h1 {
    font-size: 2em;
    padding: 0;
    margin: 0;
}

#skills > #filters {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#skills > #filters > .filter {
    padding: 10px;
    outline: none;
    background-color: white;
    border: 1px solid #8B8B8B;
    border-radius: 10px;
    color: #8B8B8B;
}

#skills > #filters > .filter-control {
    outline: none;
    background-color: white;
    border: 1px solid #8B8B8B;
    border-radius: 10px;
    color: #8B8B8B;
    overflow: hidden;
    width: clamp(200px, 50%, 300px);
}

#skills > #filters > .filter-control > .filter {
    width: 100%;
    border: none;
    background-color: white;
    outline: none;
    color: #8B8B8B;
    padding: 10px;
}

#skills > #filters > .filter-control > select.filter {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
}

#skills > #filters > .filter-control > select.filter:after {
    content: "▼";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    font-size: 15px;
}

#skills > #table {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#skills > #table > table {
    width: 100%;
    border-collapse: collapse;
}

#skills > #table > table > thead > tr > th {
    padding: 10px;
    text-align: left;
    color: #A5A4A2;
    font-size: 1.2em;
}

#skills > #table > table > thead > tr > th:first-child {
    width: 3em;
}

#skills > #table > table > thead > tr {
    border-bottom: 1px solid #8B8B8B;
}

#skills > #table > table > tbody#table-skills {
    overflow: scroll;
}

#skills > #table > table > tbody > tr {
    border-bottom: 1px solid #8B8B8B;
    color: #313132;
}

#skills > #table > table > tbody > tr > td {
    padding: 5px;
}

#skills > #table > table > tbody > tr > td:first-child {
    text-align: center;
}

#skills > #table > table > tbody > tr > td:last-child > div {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 3px 10px;
    border-radius: 7px;
}

#skills > #table > table > tbody > tr > td:last-child > div > svg {
    width: 1.1em;
    height: auto;
}

#skills > #table > table > tbody > tr:last-child {
    border-bottom: none;
}

#skills > #table > #pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 5px;
}

#skills > #table > #pages > div > svg {
    width: 1.1em;
    height: auto;
}

#skills > #table > #pages > .button-page:hover {
    scale: 1.1;
    cursor: pointer;
}