.title-container {
    width: 95%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: flex-start;
    border-radius: 18px;
    height: auto;
    background: rgba(255, 255, 255, 0.26);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.btn-active {
    width: 100%;
    background-color: #7B69ED;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn-active svg {
    width: 20px;
    height: auto;
    fill: white;
}

.btn-passif {
    width: 100%;
    background-color: #F6F6FD;
    color: #959191;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn-passif svg {
    width: 20px;
    height: auto;
    fill: #959191;
}

.container {
    width: 95%;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.26);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 18px;
    padding: 20px;
    overflow: scroll;
}

h2 {
    font-weight: 700;
    font-size: 25px;
    color: #7B69ED;
    margin: 0;
    padding: 0;
}

P {
    font-weight: 700;
    font-size: 16px;
    color: #313132;
    margin: 0;
    padding: 0;
}

.graph-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    flex-wrap: nowrap;
}


.top-5-container,
.people-selected-skills-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 270px;
    align-items: center;
    flex: 1;
    min-width: 0;
    padding: 10px;
}

.people-selected-skills-container {
    min-width: 400px;
}

h3 {
    font-size: 19px;
    color: #7B69ED;
}

.statistics {
    height: 200px;
    margin-top: 10px;
}

#chartSkills {
    width: 200px;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

#chartSkillsTop5 {
    width: 400px;
    height: 200px;
}

.graph-row {
    display: flex;
    flex-direction: row;
}

.legend {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: Arial, sans-serif;
}

.legend_details {
    display: flex;
    align-items: center;
    gap: 8px;
}

.legend-color {
    width: 35px;
    height: 8px;
    display: inline-block;
    border-radius: 1px;
    border: 2px solid;
}

.label {
    color: #959191;
    font-size: 13px;
}

.with {
    background-color: #FFEFE2;
    border-color: #EF825E;
}

.without {
    background-color: #D7B5FA;
    border-color: #9747FF;
}


