<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <!--<script src="assets/js/app.js"></script>
    <script src="assets/js/bridge.js"></script>
    <script src="assets/js/layouts/default.js"></script>-->
    <link rel="stylesheet" href="assets/css/global.css">
</head>
<body>
    <main>
        <div id="sidebar">
            <header>
                <h1>My App</h1>
            </header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </main>
    <create-section title="content"></create-section>
</body>
</html>