.select {
    width: clamp(200px, 50%, 300px);
    position: relative;
    box-sizing: border-box;
}

.select > .select-selected {
    width: 100%;
    background-color: #F2F0FD;
    border: 1px solid #7B69ED;
    border-radius: 10px;
    color: #8B8B8B;
    outline: none;
    padding: 10px 0 10px 10px;
    box-shadow: 0 2px 9px 0 rgba(7, 14, 194, 0.2);
}

.select > .select-selected:after {
    content : "˅";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -3px;
}

.select > .select-items {
    width: 100%;
    position: absolute;
    background-color: white;
    border: 1px solid #8B8B8B;
    border-radius: 10px;
    color: #000000;
    padding: 10px;
}

.select > .select-items > .select-item {
    padding: 10px 5px;
    cursor: pointer;
}

.select > .select-items > .select-item:hover {
    font-weight: bold;
    color : #7B69ED;
    background-color : #D4D5ED;
}

.select > .select-items > .select-item:active {
    font-weight: bold;
    background-color : #7B69ED;
    color : white;
}

.select > .select-hide {
    display: none;
}